body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.container{
    width: 500px;
    height: 600px;
    background: #b3d4fc;
    display: flex;
    flex-wrap: wrap;



}
.A{
    width: 500px;
    height: 200px;
    background: blueviolet;

}
.B{
    width: 300px;
    height: 400px;
    background: azure;
    display: flex;
    flex-direction: column;
    justify-content: space-between;



}
.C{
    width: 200px;
    height: 400px;
    background: greenyellow;
}
.B_1{
    width: 300px;
    height:200px;
    background: aqua;
}
.B_2{
    width: 300px;
    height:200px;
    background: green;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.B_2_1{
    width: 100px;
    height: 200px;
    background: burlywood;
    /*border: 1px solid black;*/
}
.B_2_2{
    width: 100px;
    height: 200px;
    background: floralwhite;
    /*border: 1px solid black;*/
}
.B_2_3{
    width: 100px;
    height: 200px;
    background: bisque;
    /*border: 1px solid black;*/
}